.card {
    background-color: aqua;
}

.cisterna-container {
    height: 250px;
    width: 250px;
    background-color: aqua;

}
#container {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }
  
  #fill {
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 172, 228);
    transition: height 2s ease-in-out;
  }
  
